<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CATCH 95</title>
  {% load static %} 
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png'%}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">


  <link href="{% static '/css/style.css'%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Catch 95</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->



    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>WELCOME TO CATCH95</h1>
          <h2>We will help you determine whether you are wearing your mask properly </h2>
        </div>
      </div>
       <form method="POST">
      <div class="text-center">
        <button type="submit" formaction="/feed/"><div class="btn-get-started scrollto">Get Started</div>
    </div>
    </form>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Our Web Application makes use of supervised learning to :
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Detect whether a person is wearing their mask properly in real time</li>
              <li><i class="ri-check-double-line"></i> Determine the type of mask worn (surgical or N95)</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              We believe our Web-app will help frontline workers to ensure their safety in the face of the pandemic. Since the onset of the COVID-19 doctors, nurses, policemen and soldiers have been exposed to the risk of getting infected due to the negligence or ignorance on the part of the citizens when it comes to carrying out proper SOPs and wearing masks.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    


    

  </main><!-- End #main -->

 

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/aos/aos.js'%}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static '/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js'%}"></script>

</body>

</html>